h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}

.formComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.paperComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  background-color: "#f0f1f2";
}

.mainForm {
  max-width: 400px;
}

.submitBtn {
  margin: 20px;
  justify-content: center;
  display: flex;
}
