h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 0;
  padding: 0;
  top: 100px;
}

.formComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  top: -90px;
}

.paperComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 600px;
  padding: 0px 20px;
  border-radius: 4px;
  background-color: #f0f1f2;

  max-height: fit-content;
}

.mainForm {
  max-width: 400px;
  max-height: fit-content;
}

.submitBtn {
  position: relative;
  margin: 10px;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.error {
  color: #d32f2f;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
